dist/
webDist/
distWeb/
content/.obsidian/
distLambda/
goldstackLocal/
packages/web-maxrohde-com/static/generated/
packages/web-shalveena-com/static/generated/
packages/web-pureleap/public/objecthub/
packages/web-pureleap/public/appjangle/
public/appjangle/
coverage/
node_modules/
.next/
.terraform/
*.md
*.tfstate
*.tfstate.backup
.pnp.js
.pnp.cjs
*.json
.pnp.loader.mjs
.yarnrc.yml
.yarn/
