dist/
webDist/
distWeb/
distLambda/
goldstackLocal/
packages/web-maxrohde-com/static/generated/
coverage/
node_modules/
.next/
.terraform/
*.md
*.tfstate
*.tfstate.backup
.pnp.js
.pnp.cjs
*.json
.pnp.loader.mjs
.yarnrc.yml
.yarn/
